@import url('https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans:wght@300&family=Poppins:wght@300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.section {
    display: flex;
    flex-direction: column;
}

.formulario {
    background-color: white;
    width: 25%;
    min-width: 400px;
    height: 60%;
    padding: 30px;
    box-shadow: 0px 1px 6px 0px #000000;
    border-radius: 25px;
}

label {
    margin-top: 15px;
}

input,
select {
    border-radius: 12px;
    height: 30px;
    border: 1px solid gray
}

.titulo {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.center {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn-cadastrar {
    margin-top: 10px;
    background-color: #00a7e9;
    color: white;
    border: none;
    width: 90%;
    padding: 8px;
    border-radius: 25px;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}