@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Roboto:wght@300&family=Titillium+Web&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

.boss,
.costumer {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}


.costumer {
    margin-top: 20px;
}

h1 {
    color: #a10303;
}

.titulo-principal {
    color: #a10303;
    margin-bottom: 40px;
}

a {
    color: #a10303;
    margin-bottom: 15px;
}

.container {
    text-align: center;
    background-color: #dbdbdb;
    border-radius: 10px 15px 15px 20px;
    box-shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.45);
    width: 400px;
    height: 600px;
    margin-left: 30%;
}

.icone {
    width: 30px;
}

.voltar {
    color: rgb(131, 127, 127);
}

.lista {
    margin-bottom: 30px;
}

.x-burger{
    width: 180px;
}

.item-menu{
    font-size: 1.5em;
    margin-top: 60px;
    text-align: center;
}

.voltar1{
    margin-top: 80px;
}